<config>
	<info
	  name="root"
	  author="spydemon &lt;email@address.fr&gt;"
	  version="1"
	/>
	<depends>
		<core />
	</depends>
	<setup>
		<dl-sources>
			<exec>setup/dl-sources.pl</exec>
			<priority>10</priority>
		</dl-sources>
		<config-admin>
			<exec>setup/config-admin.sh</exec>
			<priority>20</priority>
		</config-admin>
		<shell-customisation>
			<remove />
		</shell-customisation>
	</setup>
	<startup>
		<iptables>
			<exec>startup/iptable.pl</exec>
			<priority>10</priority>
		</iptables>
		<zfs-mount>
			<exec>startup/zfs-mount.pl</exec>
			<priority>20</priority>
		</zfs-mount>
	</startup>
	<shutdown>
		<zfs-umount>
			<exec>shutdown/zfs-unmount.pl</exec>
			<priority>10</priority>
		</zfs-umount>
	</shutdown>
	<parameters>
		<port>
			<mandatory>true</mandatory>
			<value>5000</value>
		</port>
		<data>
			<mandatory>true</mandatory>
		</data>
	</parameters>
	<children />
</config>
